HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

target/
bin/
**/.classpath
**/.project
**/.settings
**/.versionsBackup
**/*.versionsBackup
.externalToolBuilders/
*.settings
*.project
*.buildpath
*.classpath
*.component
.settings/
.settings
.project
.classpath
.metadata
.versionsBackup

